{% extends 'base.html'%} {% import 'macros.html' as macro%} {% block styles%} {{
super() }}
<link rel="stylesheet" href="{{url_for('static',filename='/css/index.css')}}" />
{% endblock %}{%block content%}
<div class="main-container container-fluid mt-5">
  <div
    class="btn-group"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <a class="btn btn-primary" href="/"></a>
    <a class="btn btn-primary" href="{{url_for('main.filter',pitch_query=1)}}"
      >Interview</a
    >
    <a class="btn btn-primary" href="{{url_for('main.filter',pitch_query=2)}}"
      >Advertisement</a
    >
    <a class="btn btn-primary" href="{{url_for('main.filter',pitch_query=3)}}"
      >Humour</a
    >
    <a class="btn btn-primary" href="{{url_for('main.filter',pitch_query=4)}}"
      >Pickup_lines</a
    >
  </div>

  <div class="row">{{ macro.displayPitchList(pitches_list)}}</div>
</div>
{%endblock%}
